proarc-desa/src/main/resources/cz/cas/lib/proarc/desa/xml/pspsip.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PSP_SIP">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="SIP">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idSIPVersion" type="xs:string" />
              <xs:element name="identifier" type="xs:string" />
              <xs:element name="type" type="sipType" />
              <xs:element name="resultCode" type="resultType" />
              <xs:element name="resultTime" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="packageID" type="xs:string" />
      <xs:attribute name="pspResultCode" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="resultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="progress" />
      <xs:enumeration value="finished" />
      <xs:enumeration value="error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="record" />
      <xs:enumeration value="file" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>